<%- include("partials/header") %>
    
    <div class="container">
        <h1 class="text-center">Notes</h1>

            <div class="card add-note">
                <form action="/" method="POST" class="note-form">
                    <div class="form-group">
                        <input type="text" class="form-control" name="text" placeholder="Enter note">
                        <input type="submit" class="form-control" value="Submit">
                    </div>
                </form>
            </div>

        <div class="card note-display">

            <% data.forEach(note => { %>
                <div class="card note">
                <div class="note-content">
                    <%= note.note %>
                </div>
                <a href="/<%= note._id %>" class="btn btn-warning">View note</a>                
            </div> 

            <% }) %>
    
        </div>
        
    </div>
    

<%- include("partials/footer") %>