<%- include("partials/header") %>
    
    <div class="container">
        <h1 class="text-center">Notes</h1>

            <div class="card add-note">
                <form class="note-form">
                    <div class="form-group">
                        <input type="text" class="form-control" name="text" placeholder="Enter note">
                        <input type="submit" class="form-control" value="Submit">
                    </div>
                </form>
            </div>

        <div class="card note-display">
            <div class="card note">
                This is an individual note
            </div>

            <div class="card note">
                This is an individual note
            </div>

            <div class="card note">
                This is an individual note
            </div>

            <div class="card note">
                This is an individual note
            </div>
        </div>
        
    </div>
    

<%- include("partials/footer") %>