* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: sans-serif; }

.note-display {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.note {
  grid-column: span 1; }
